{yun:}include file="$ltstyle/header.htm"{/yun}
<div class="top_nav_list">
    {yun:}include file="$ltstyle/left.htm"{/yun}
</div>
<div class="w1000">
  <div class="admin_mainbody">
      <link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css"/>
    <link href="{yun:}$com_style{/yun}/images/index_style.css" type=text/css rel=stylesheet>
    <div class=down_box>
      <div class=admincont_box>
          <div class="Search_jobs_box" style="width: 1100px;">
              <form method="get" id="form" action="{yun:}if !$config.sy_resumedir{/yun}index.php{yun:}else{/yun}{yun:}url m=resume{/yun}{yun:}/if{/yun}" onsubmit="return search_keyword(this,'请输入关键字');">
                  {yun:}if !$config.sy_resumedir{/yun}
                  <input type="hidden" name="m" value="resume" />
                  {yun:}/if{/yun}
                  <input type="hidden" name="c" value="search" />
                  {yun:}foreach from=$finder item=v key=key{/yun}
                  <input type="hidden" name="{yun:}$key{/yun}" value="{yun:}$v{/yun}" />
                  {yun:}/foreach{/yun}
                  <div class="Search_jobs_form_list" >
                      <div class="yun_job_search">
                          <div class="Search_jobs_sub">
                              <input type="text" name="keyword" value="{yun:}if $smarty.get.keyword!=""{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入关键字{yun:}/if{/yun}" onclick="if(this.value=='请输入关键字'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键字'}" class="Search_jobs_text"/>
                              <input type="submit" value="搜索" class="Search_jobs_submit yun_bg_color"  style="background: #4b6e88;height: 40px;"/>

                          </div>
                      </div>
                  </div>
                  <div class="Search_jobs_form_list search_more">
                      <div class="Search_jobs_name"> 薪资：</div>
                      <div>
                          <a href="{yun:}listurl m=resume type=salary v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.minsalary==''&&$smarty.get.maxsalary==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a>
                          <a href="{yun:}listurl m=resume type=salary v='0_2000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.maxsalary==2000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">2000以下</a>
                          <a href="{yun:}listurl m=resume type=salary v='2000_4000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==2000&&$smarty.get.maxsalary==4000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">2000-4000</a>
                          <a href="{yun:}listurl m=resume type=salary v='4000_6000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==4000&&$smarty.get.maxsalary==6000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">4000-6000</a>
                          <a href="{yun:}listurl m=resume type=salary v='6000_8000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==6000&&$smarty.get.maxsalary==8000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">6000-8000</a>
                          <a href="{yun:}listurl m=resume type=salary v='8000_10000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==8000&&$smarty.get.maxsalary==10000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">8000-10000</a>
                          <a href="{yun:}listurl m=resume type=salary v='10000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==10000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">10000以上</a>
                      </div>
                      <div>
                          <input type="text" name="minsalary" id="min" value="{yun:}if $smarty.get.minsalary{/yun}{yun:}$smarty.get.minsalary{/yun}{yun:}/if{/yun}" placeholder="1999" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="job_xz_text"/>
                          <span class="job_xz_line">-</span>
                          <input type="text" name="maxsalary" id="max" value="{yun:}if $smarty.get.maxsalary{/yun}{yun:}$smarty.get.maxsalary{/yun}{yun:}/if{/yun}" placeholder="2999" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="job_xz_text"/>
                          <input type="submit" value="确定" class="job_xz_bth"/>
                      </div>
                  </div>
                  <div class="Search_jobs_form_list search_more">
                      <div class="Search_jobs_name"> 更多：</div>


                      <div class="Search_jobs_sub">

                          <div class="Search_jobs_more_chlose">
                              <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}工作行业{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_hylist none">
                                  <ul>
                                      {yun:}if $config.fz_type!='2'&&$config.hyclass==''{/yun}
                                      <div class="Search_jobs_form_list">
                                          {yun:}foreach from=$industry_index item=v key=key{/yun}
                                          <li><a href="javascript:;" onclick="showurl('{yun:}listurl m=resume type=hy v=$v{/yun}')">{yun:}$industry_name[$v]{/yun}</a> </li>
                                          {yun:}/foreach{/yun}
                                      </div>
                                      {yun:}/if{/yun}
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.edu{/yun}{yun:}$userclass_name[$smarty.get.edu]{/yun}{yun:}else{/yun}学历要求{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      {yun:}foreach from=$userdata.user_edu item=v key=key{/yun}
                                      <li><a href="javascript:;" onclick="showurl('{yun:}listurl m=resume type=edu v=$v{/yun}')">{yun:}$userclass_name[$v]{/yun}</a></li>
                                      {yun:}/foreach{/yun}
                                  </ul>
                              </div>
                          </div>



                          <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.sex{/yun}{yun:}$arr_data1{/yun}{yun:}else{/yun}性别要求{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      {yun:}foreach from=$arr_data.sex key=j item=v{/yun}
                                      <li><a href="javascript:;" onclick="showurl('{yun:}listurl m=resume type=sex v=$j{/yun}')">{yun:}$v{/yun}</a></li>
                                      {yun:}/foreach{/yun}

                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.report{/yun}{yun:}$userclass_name[$smarty.get.report]{/yun}{yun:}else{/yun}到岗时间{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      {yun:}foreach from=$userdata.user_report item=v key=key{/yun}
                                      <li><a href="javascript:;" onclick="showurl('{yun:}listurl m=resume type=report v=$v{/yun}')">{yun:}$userclass_name[$v]{/yun}</a> </li>
                                      {yun:}/foreach{/yun}
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">{yun:}if $uptime[$smarty.get.uptime]{/yun}{yun:}$uptime[$smarty.get.uptime]{/yun}{yun:}else{/yun}更新时间{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      {yun:}foreach from=$uptime item=v key=key{/yun}
                                      <li><a href="javascript:;" onclick="showurl('{yun:}listurl m=resume type=uptime v=$key{/yun}')">{yun:}$v{/yun}</a> </li>
                                      {yun:}/foreach{/yun}
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

                  {yun:}if $smarty.get.job1||$smarty.get.job1_son||$smarty.get.job_post||$smarty.get.provinceid||$smarty.get.cityid||$smarty.get.three_cityid||$smarty.get.hy||$smarty.get.minsalary||$smarty.get.maxsalary||$smarty.get.edu||$smarty.get.exp||$smarty.get.tag||$smarty.get.sex||$smarty.get.type||$smarty.get.report||$smarty.get.uptime||$smarty.get.keyword||$smarty.get.idcard||$smarty.get.work{/yun}
                  <div class="Search_close_box">
                      <div>
                          <div class="Search_clear"> <a href="{yun:}url m=resume{/yun}"> 清除所选</a></div>
                          <span class="Search_close_box_s">已选条件：</span>
                      </div>
                      {yun:}if $smarty.get.job1{/yun} <a href="{yun:}listurl m=resume untype='job1'{/yun}" class="Search_jobs_c_a disc_fac">职位分类：{yun:}$job_name[$smarty.get.job1]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.job1_son{/yun} <a href="{yun:}listurl m=resume untype='job1_son'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$job_name[$smarty.get.job1_son]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.job_post{/yun} <a href="{yun:}listurl m=resume untype='job_post'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$job_name[$smarty.get.job_post]{/yun}</a> {yun:}/if{/yun}

                      {yun:}if $config.cityid=='' &&  $config.three_cityid==''{/yun}
                      {yun:}if $smarty.get.provinceid{/yun} <a href="{yun:}listurl m=resume untype='provinceid'{/yun}" class="Search_jobs_c_a disc_fac">工作地点：{yun:}$city_name[$smarty.get.provinceid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.cityid{/yun} <a href="{yun:}listurl m=resume untype='cityid'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.cityid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.three_cityid{/yun} <a href="{yun:}listurl m=resume untype='three_cityid'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.three_cityid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}/if{/yun}

                                    </div>
                                    <div class="">
                                        <span class="hr_s_t_p">{yun:}$v.exp{/yun}经验 <span style="font-size:12px;color:#999; padding:0px 5px;">|</span> {yun:}$v.edu{/yun}学历</span>
                                        <span  class="hr_s_t">申请的职位：<a {yun:}if $v.type=='1'{/yun}href="{yun:}url m=job c=comapply id='`$v.job_id`'{/yun}"{yun:}elseif $v.type=='2'{/yun}href="{yun:}url m=lietou c=jobcomshow id='`$v.job_id`'{/yun}"{yun:}/if{/yun} target="_blank" class="uesr_name_a">{yun:}$v.job_name{/yun}</a>
           </span>
                                        <span class="hr_s_t"> 申请的时间： {yun:}$v.datetime|date_format:'%Y-%m-%d'{/yun}   </span>
                                    </div>
                                    <div class="job_hr_resume_user_yx">
                                        意向职位：<span class="" style="color:#f60; font-weight:bold">{yun:}$v.jobname{/yun}</span>
                                    </div>
                                </div>

                                <div class="clear"></div>
                                <div class="job_hr_list_l">

                                    <div class="com_mem_hr_list_b_b"> <span class="com_mem_hr_list_bzt ">标记状态：</span>
                                        {yun:}if $v.is_browse!=4&&$v.userid_msg==1&&$v.is_browse!='5'{/yun}<span class="browsebj com_mem_hr_list_bj com_mem_hr_list_bj_cur" name='{yun:}$v.id{/yun}' browse='5'> 已邀请面试 </span>
                                        {yun:}if $v.is_browse!=4{/yun}<span class="browsebj com_mem_hr_list_bj {yun:}if $v.is_browse=='5'{/yun}com_mem_hr_list_bj_cur{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='5'> 无法联系 </span> {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                        {yun:}if $v.is_browse<2{/yun}

                                        <span class="browsebj com_mem_hr_list_bj  {yun:}if $v.is_browse=='1'{/yun}com_mem_hr_list_bj_cur com_mem_hr_list_red{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='1'> 未查看<i class="com_mem_hr_no_icon"></i> <em class="job_hr_new_resume"></em></span>
                                        {yun:}/if{/yun}

                                        {yun:}if $v.is_browse<3{/yun} <span class="browsebj com_mem_hr_list_bj {yun:}if $v.is_browse=='2'{/yun}com_mem_hr_list_bj_cur{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='2'> 已查看</span>{yun:}/if{/yun}

                                        {yun:}if $v.is_browse<4{/yun}<span class="browsebj com_mem_hr_list_bj {yun:}if $v.is_browse=='3'{/yun}com_mem_hr_list_bj_cur{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='3'> 等待通知 </span> {yun:}/if{/yun}

                                        {yun:}if $v.is_browse<5{/yun}<span class="browsebj com_mem_hr_list_bj {yun:}if $v.is_browse=='4'{/yun}com_mem_hr_list_bj_cur{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='4'> 拒绝面试</span>{yun:}/if{/yun}

                                        {yun:}if $v.is_browse!=4{/yun}<span class="browsebj com_mem_hr_list_bj {yun:}if $v.is_browse=='5'{/yun}com_mem_hr_list_bj_cur{yun:}/if{/yun}" name='{yun:}$v.id{/yun}' browse='5'> 无法联系 </span> {yun:}/if{/yun}{yun:}/if{/yun}
                                    </div>

                                    <div class="job_hr_list_r">

                                        <span class="job_hr_job_cz_a"> <a href="javascript:void(0)" onclick="layer_del('确定要删除该条职位申请吗？', 'index.php?c=hr&act=hrset&delid={yun:}$v.id{/yun}'); " class="uesr_name_a">删除</a> </span>
                                        {yun:}if $v.is_browse!=4{/yun}
                                        {yun:}if $v.userid_msg==1{/yun}
                                        {yun:}if $v.is_browse==5{/yun}
                                        <i class="job_hr_job_cz_line">|</i><span class="job_hr_job_cz_a">无法联系</span>
                                        {yun:}else{/yun}
                                        <i class="job_hr_job_cz_line">|</i><span class="job_hr_job_cz_a">已邀请面试</span>
                                        {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                        <span class="job_hr_job_cz_ms"> <a href="javascript:void(0);" uid="{yun:}$v.uid{/yun}" username="{yun:}$v.name{/yun}" jobid="{yun:}$v.job_id{/yun}"   class="sq_resume uesr_name_a" jobtype='{yun:}$v.type{/yun}'>邀请面试</a></span>
                                        <i class="job_hr_job_cz_line">|</i> <span class="job_hr_job_cz_a"><a href="javascript:void(0)" name='{yun:}$v.id{/yun}' browse='4' class="browsebj uesr_name_a">拒绝面试</a> </span>
                                        {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                        <i class="job_hr_job_cz_line">|</i><span class="job_hr_job_cz_a">已拒绝</span>
                                        {yun:}/if{/yun}
                                    </div>   </div>
                            </div>
                            {yun:}/foreach{/yun}
                            <div class="com_Release_job_bot" style="margin-top:10px;"> <span class="com_Release_job_qx">
              <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)' class="com_Release_job_qx_check">
              全选</span>
                                <INPUT class="c_btn_02" type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
                                <INPUT class='c_btn_02' type="button" name="subdel" value="批量阅读" onclick="return really_read('delid[]');" style="margin-left:10px;">
                            </div>
                            {yun:}else{/yun}
                            <div class="msg_no">
                                {yun:}if $smarty.get.keyword!="" {/yun}
                                <p>没有搜索到相关简历记录！</p>
                                {yun:}else{/yun}
                                <p> 亲爱的用户，目前您还没有收到申请贵公司职位的人才简历！</p>
                                <a href="{yun:}url m=resume{/yun}" class="com_msg_no_bth com_submit">我要主动找人才</a>
                                {yun:}/if{/yun} </div>
                            {yun:}/if{/yun}
                            <div class="diggg mt10 fltR">{yun:}$pagenav{/yun}</div>
                        </form>
                        <div  class="clear"></div>
                        {yun:}if $rows{/yun}

                        {yun:}/if{/yun}
                        <div  class="clear"></div>
                        <div class="wxts_box wxts_box_mt30">
                            <div class="wxts">温馨提示：</div>
                            1. 共有（<span class="f60">{yun:}if $jobnum{/yun}{yun:}$jobnum{/yun}{yun:}else{/yun}0{yun:}/if{/yun}</span>）份简历申请贵公司发布的职位 <br>
                            2.对于求职者来说即使是被拒绝，也胜过毫无音讯的等待。<br>
                            3.请邀约或者设置为不合适给求职者投递的简历，做一个回馈<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".browsebj").click(function(){
            var browse=$(this).attr('browse');
            var id=$(this).attr('name');
            $.post("index.php?c=hr&act=hrset",{id:id,browse:browse},function(data){
                location.reload();
            });
        });
    });
</script>
{yun:}include file="$comstyle/yqms.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}