{yun:}include file="$ltstyle/header.htm"{/yun}
<style>
    .info-zw li {
        width: 20%;
        border-left: 1px dashed #fff;
        text-align: center;
        float: left;
        color: #666666;
        font-weight: inherit;
    }
    .info-gs-logo{
        margin-top: 53px;
        margin-left: 24px;
    }
    .info-gs-logo img {
        width: 180px;
        height: 75px;
    }

    .titleq{
        color: #666666;
        font-size: 14px;
    }
    .contentq{
        margin-top: 10px;
        font-size: 16px;
        color: #333333;
    }
    .tishilt{
        width: 1020px;
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
        margin-left: 30px;
        margin-top: 24px;
        background: #f1f8ff;
    }
    .xztitle{
        color: #333;
        font-size: 16px;
    }
    .xztishi{
        color: #666666;
        font-size: 14px;
        margin-left: 5px;
    }
    .sc_resume{
        display: block;
        float: right;
        width: 124px;
        height: 40px;
        background: #ff6a6a;
        text-align: center;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
    }
    .sc_resume:hover{
        color: #fff;
    }
    .job_news_list .tuijan{
       width: 96px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    .job_news_list .yituijian{
        width: 96px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        background: #e5dec6;
        color: #666666;
    }
    .job_news_list .yituijian:hover{
        cursor: inherit;
        background: #e5dec6;
        color: #666666;
    }
</style>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css"/>
<div class="top_nav_list">
    {yun:}include file="$ltstyle/left.htm"{/yun}
</div>
<div class="w1000">
<div class="admin_mainbody">
  <div class=down_box style="margin-top: 0;">
    <div class=admincont_box>
        <div class="alert alert-success" role="alert" style="width: 1040px;margin: 0 auto;color: #3c763d;background-color: #e5dec6;">
            <div class="post-info" style="margin-top: 30px;height: 180px;">
                <div class="info-gs-logo fl" style="float: left;"><img src="{yun:}if $jobs.logo{/yun}{yun:}else{/yun}http://www.528.cn/img/nophoto_com.jpg{yun:}/if{/yun}" width="150" height="150"></div>
                <ul class="info-zw" style="list-style: none;float: left;width: 830px;margin-top: 53px;">
                    <li class="row-office" style="min-width: 272px;border-left: none;text-align: left;margin-left: 24px;max-width: 320px;padding-right: 10px;">
                        <h3 id="recPosName" style="font-size: 20px;display: inherit;color: #4b5873;font-weight: inherit;width: 268px;">{yun:}$jobs.name{/yun}</h3>
                        <h5 id="recComName" style="font-size: 14px;display: inherit;color: #666666;margin-top: 5px;font-weight: inherit;" class="nowrap">{yun:}$jobs.com_name{/yun}</h5>
                    </li>
                    <li class="citywidth" style="border-left: none;">
                        <div class="titleq">工作地点</div>
                        <div class="contentq">重庆-江北区</div>
                    </li>
                    <li class="citywidth">
                        <div class="titleq">年薪</div>
                        <div class="contentq" style="color: #ff6600">{yun:}$jobs.minsalary{/yun}-{yun:}$jobs.maxsalary{/yun}元</div>
                    </li>
                    <li>
                        <div class="titleq">更新时间</div>
                        <div class="contentq">{yun:}date('Y-m-d',$jobs.edate){/yun}</div>
                    </li>
                </ul>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="tishilt">
            <label class="xztitle">选择候选人</label>
            <label class="xztishi">在企业HR下载简历之前，企业HR看不到候选人的任何联系方式</label>
        </div>
        <div class="Search_jobs_form_list" >
            <div class="yun_job_search" style="padding: 24px 30px 10px 30px;">
                <div class="Search_jobs_sub" style="width: 1040px;">
                    <input type="text" name="keyword" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入关键字,如:姓名,公司,职位...{yun:}/if{/yun}" onclick="if(this.value=='请输入关键字,如:姓名,公司,职位...'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键字,如:姓名,公司,职位...'}" class="Search_jobs_text " style="width: 796px;"/>
                    <input type="submit" value="搜索" class="Search_jobs_submit yun_bg_color" style="background: #4b6e88;height: 40px;"/>
                    <a class="sc_resume" href="index.php?c=resume&act=input" target="_blank">创建新候选人</a>
                </div>
            </div>
        </div>

        <div class="Search_jobs_form_list search_more">
            <div class="shaixuan" style="margin-left: 30px;">
                <label class="sxtitle">筛选条件：</label>
                {yun:}if $smarty.get.hy{/yun}
                <label class="select_hy">
                    <a class="Search_jobs_c_a disc_fac mtop0">行业：{yun:}$industry_name[$smarty.get.hy]{/yun}</a>
                </label>
                {yun:}/if{/yun}
                {yun:}if $smarty.get.city{/yun}
                <label class="select_city"><a class="Search_jobs_c_a disc_fac mtop0">工作地点：{yun:}$city_name[$smarty.get.city]{/yun}</a></label>
                {yun:}/if{/yun}
                {yun:}if $smarty.get.salary{/yun}
                <label class="select_salery"><a class="Search_jobs_c_a disc_fac mtop0">年薪范围：{yun:}$salary_name[$smarty.get.salary]{/yun}</a></label>
                {yun:}/if{/yun}
                {yun:}if $smarty.get.uptime{/yun}
                <label class="select_time"><a class="Search_jobs_c_a disc_fac mtop0">更新时间：{yun:}$uptime[$smarty.get.uptime]{/yun}</a></label>
                {yun:}/if{/yun}
                {yun:}if $smarty.get.work{/yun}
                <label class="select_time"><a class="Search_jobs_c_a disc_fac mtop0">工作年限：{yun:}$work[$smarty.get.work]{/yun}</a></label>
                {yun:}/if{/yun}
            </div>
            <div class="Search_jobs_sub" style="margin-left: 30px;margin-top: 14px;width: 1040px;">
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}期望行业{yun:}/if{/yun}</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_hylist none">
                        <ul class="select_hyitem">
                            {yun:}foreach from=$industry_index item=v key=key{/yun}
                            <li><a class="Search_jobs_cxz" href="javascript:location=location+'&hy={yun:}$v{/yun}';">{yun:}$industry_name[$v]{/yun}</a> </li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">期望工作地</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none" style="width: 415px;">
                        <ul class="select_cityitem">
                            {yun:}foreach from=$city_index key=j item=v{/yun}
                            <li style="width: inherit;"><a class="Search_jobs_cxz" href="javascript:location=location+'&city={yun:}$v{/yun}'">{yun:}$city_name[$v]{/yun}</a> </li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>

                <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">期望年薪</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none" style="width: 400px;">
                        <ul class="select_hyitem">
                            <li style="width: inherit;"> <a class="Search_jobs_cxz" href="javascript:location=location+'&salary={yun:}1{/yun}'">10万以内</a></li>
                            <li style="width: inherit;"> <a class="Search_jobs_cxz" href="javascript:location=location+'&salary={yun:}2{/yun}'">10-20万</a></li>
                            <li style="width: inherit;"> <a class="Search_jobs_cxz" href="javascript:location=location+'&salary={yun:}3{/yun}'">20-30万以内</a></li>
                            <li style="width: inherit;"> <a class="Search_jobs_cxz" href="javascript:location=location+'&salary={yun:}4{/yun}'">30-50万以内</a></li>
                            <li style="width: inherit;"> <a class="Search_jobs_cxz" href="javascript:location=location+'&salary={yun:}5{/yun}'">50万以上</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">工作年限</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none">
                        <ul class="select_hyitem">
                            <li><a href="javascript:location=location+'&work={yun:}0{/yun}'" class="Search_jobs_sub_a " style="width: 110px;">全部</a></li>
                            <li><a href="javascript:location=location+'&work={yun:}1{/yun}'" class="Search_jobs_cxz " style="width: 110px;">1年以内</a></li>
                            <li><a href="javascript:location=location+'&work={yun:}2{/yun}'" class="Search_jobs_cxz " style="width: 110px;">1-3年</a></li>
                            <li><a href="javascript:location=location+'&work={yun:}3{/yun}'" class="Search_jobs_cxz " style="width: 110px;">3-5年</a></li>
                            <li><a href="javascript:location=location+'&work={yun:}4{/yun}'" class="Search_jobs_cxz " style="width: 110px;">5-10年</a></li>
                            <li><a href="javascript:location=location+'&work={yun:}5{/yun}'" class="Search_jobs_cxz " style="width: 110px;">10年以上</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">学历</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none">
                        <ul class="select_hyitem">
                            <li><a href="javascript:location=location+'&edu={yun:}0{/yun}'" class="Search_jobs_sub_a " style="width: 110px;">全部</a></li>
                            <li><a href="javascript:location=location+'&edu={yun:}1{/yun}'" class="Search_jobs_cxz " style="width: 110px;">博士</a></li>
                            <li><a href="javascript:location=location+'&edu={yun:}2{/yun}'" class="Search_jobs_cxz " style="width: 110px;">硕士</a></li>
                            <li><a href="javascript:location=location+'&edu={yun:}3{/yun}'" class="Search_jobs_cxz " style="width: 110px;">本科</a></li>
                            <li><a href="javascript:location=location+'&edu={yun:}4{/yun}'" class="Search_jobs_cxz " style="width: 110px;">专科</a></li>
                            <li><a href="javascript:location=location+'&edu={yun:}5{/yun}'" class="Search_jobs_cxz " style="width: 110px;">专科以下</a></li>
                        </ul>
                    </div>
                </div>
                <div class="paixu_btn">
                    <label class="pxbtn">工作年限从高到低</label>
                    <label class="pxbtn pxcur">期望薪资从高到低</label>
                </div>
            </div>
        </div>

        <div class="left_job_all fl">
            <div class="job_left_sidebar" style="width: 1040px;margin-left: 30px;">
                <div class="job_news_list" style="background: #f1f8ff">
                    <span class="job_news_list_span job_w150" style="text-align:left;padding-left: 10px;">姓名</span>
                    <span class="job_news_list_span job_w66">年龄</span>
                    <span class="job_news_list_span job_w66">学历</span>
                    <span class="job_news_list_span job_w99">工作年限</span>
                    <span class="job_news_list_span job_w174">期望年薪/期望工作地</span>
                    <span class="job_news_list_span job_w141">最近推荐时间</span>
                    <span class="job_news_list_span job_w174">
                                <label class="num_tj">
                                    <img src="{yun:}$lt_style{/yun}/images/icol0.png">
                                    <label class="jieshiico">服务猎头</label>
                                </label>
                                <label class="num_tj w36">
                                    <img src="{yun:}$lt_style{/yun}/images/icol5.png">
                                    <label class="jieshiico">推荐职位数</label>
                                </label>
                                <label class="num_tj w41">
                                    <img src="{yun:}$lt_style{/yun}/images/icol3.png">
                                    <label class="jieshiico">HR下载</label>
                                </label>
                              </span>
                    <span class="job_news_list_span job_w140 text_cen">操作</span>
                </div>

                <div class="job_news_list line_heigh45" pid="">
                    <span class="job_news_list_span  job_w150 line_heigh23" style="text-align:left;padding-left: 10px;">
                            <a class="job_namer nowrap" href="http://localhost/resume/index.php?c=show&amp;id=1" target="_blank">张静</a><label class="job_status">（先生）</label><br>
                            <label class="tel_num"><img src="http://localhost/app/template/member/lietou/images/sj_ico.png">13767678989</label>
                    </span>
                    <span class="job_news_list_span job_w66">
                        <label class="tj_time">29岁</label>
                    </span>
                    <span class="job_news_list_span job_w66">
                        <label class="tj_time">大专</label>
                    </span>
                    <span class="job_news_list_span job_w99">
                        <label class="tj_time">2年以上</label>
                    </span>
                    <span class="job_news_list_span job_w174 line_heigh23">
                        <label class="salery_s" href="#">￥2000-3000</label><br>
                        <label class="com_namer font_14" href="#">北京</label>
                    </span>
                    <span class="job_news_list_span job_w141">
                        <label class="tj_time" href="#">暂无推荐</label>
                    </span>
                    <span class="job_news_list_span job_w174 line_heigh23">
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">猎头</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">推荐职位</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR下载</span></label>
                    </span>
                    <span class="job_news_list_span job_w140 text_cen">
                        <a target="_blank" class="btn_hxr w70b tuijan">推荐该候选人</a>
                    </span>
                </div>
                <div class="job_news_list line_heigh45" pid="">
                    <span class="job_news_list_span  job_w150 line_heigh23" style="text-align:left;padding-left: 10px;">
                            <a class="job_namer nowrap" href="http://localhost/resume/index.php?c=show&amp;id=1" target="_blank">张静</a><label class="job_status">（先生）</label><br>
                            <label class="tel_num"><img src="http://localhost/app/template/member/lietou/images/sj_ico.png">13767678989</label>
                    </span>
                    <span class="job_news_list_span job_w66">
                        <label class="tj_time">29岁</label>
                    </span>
                    <span class="job_news_list_span job_w66">
                        <label class="tj_time">大专</label>
                    </span>
                    <span class="job_news_list_span job_w99">
                        <label class="tj_time">2年以上</label>
                    </span>
                    <span class="job_news_list_span job_w174 line_heigh23">
                        <label class="salery_s" href="#">￥2000-3000</label><br>
                        <label class="com_namer font_14" href="#">北京</label>
                    </span>
                    <span class="job_news_list_span job_w141">
                        <label class="tj_time" href="#">2017-12-26</label>
                    </span>
                    <span class="job_news_list_span job_w174 line_heigh23">
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">猎头</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">推荐职位</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR下载</span></label>
                    </span>
                    <span class="job_news_list_span job_w140 text_cen">
                        <a class="btn_hxr w70b yituijian">已推荐</a>
                    </span>
                </div>

                {yun:}resumelist limit=5 topdate=1 item=user name=resumelist2 {/yun}
                <div class="search_user_list {yun:}if $key%2!='0'{/yun}{yun:}/if{/yun}" >
                    <div class="user_photo_left"><a href="{yun:}url m=resume c=show id=$user.id{/yun}" target="_blank"><img src="{yun:}$user.photo{/yun}" width="80" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"/><i class="user_photo_bg"></i></a></div>
                    <div class="usersearch_job_left_siaber"> <a href="{yun:}url m=resume c=show id=$user.id{/yun}" target="_blank" class="fl search_job_jobs_name yun_text_color">{yun:}$user.username_n{/yun}</a>

                        <div class="company_det">
                            <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}if $user.sex==152{/yun}女{yun:}elseif $user.sex==153{/yun}男{yun:}else{/yun}{yun:}$arr_data['sex'][$user.sex]{/yun}{yun:}/if{/yun}</em></span><span class="search_job_list_box_line">|</span>
                            <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}if $user.age==0{/yun}保密{yun:}else{/yun}{yun:}$user.age{/yun}岁{yun:}/if{/yun}</em></span><span class="search_job_list_box_line">|</span> <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user.exp_n{/yun}经验</em> </span><span class="search_job_list_box_line">|</span><span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user.edu_n{/yun}学历</em></span>
                        </div>
                        {yun:}if $user.tag{/yun}
                        <div class="company_bq">
                            <div class="job_welfare_tag" >

                                {yun:}foreach from=$user.tag key=key item=v{/yun}
                                {yun:}if $key<5{/yun}
                                <span class="job_welfare_tag_s"><i class="job_welfare_tag_s_icon"></i>
			{yun:}$v{/yun}
			</span>
                                {yun:}/if{/yun}
                                {yun:}/foreach{/yun}
                            </div></div>
                        {yun:}else{/yun}
                        <div class="job_describe_p">{yun:}$user.user_jobstatus_n{/yun}  </div>
                        {yun:}/if{/yun}
                    </div>
                    <div class="user_det_c_name" style="width: 300px;">

                        <span class="search_job_list_box_user">意向城市：<em class="com_search_job_em">{yun:}$user.job_city_one{/yun}-{yun:}$user.job_city_two{/yun} </em></span>
                        <span class="search_job_list_box_user  search_job_list_box_userpd">期望薪资：<em class="com_search_job_em com_search_job_em_pay">{yun:}$user.salary_n{/yun}</em> </span>
                        {yun:}if $user.expectjob{/yun}
                        <div class="resume_yx_job">
                            <span class="resume_yx_job_name">意向职位：</span>
                            {yun:}foreach from=$user.expectjob item=v key=key{/yun}
                            {yun:}if $key<5{/yun}
                            <span class="resume_job_tag"><i class="resume_job_tag_icon"></i>{yun:}$v{/yun}</span>
                            {yun:}/if{/yun}
                            {yun:}/foreach{/yun}
                        </div>
                        {yun:}/if{/yun}
                    </div>
                    <div class="yun_user_operation_l">
      <span class="search_job_data" >
      {yun:}if $user.redtime==1 || $user.time=='昨天'{/yun}
        	<span style="color:red;">{yun:}$user.time{/yun}</span>
        {yun:}else{/yun}
        	{yun:}$user.time{/yun}
        {yun:}/if{/yun}</span> </div>
                    <div class="yun_user_operation">
                        <div class="user_a_search_time"> <span class="yun_user_lok_bth " data-id="{yun:}$user.id{/yun}" data-eid="{yun:}$user.eid{/yun}">推荐</span> </div>
                    </div>
                </div>

                {yun:}/resumelist{/yun}
                <div class="clear"></div>
                {yun:}if $total!=0 || is_array($user2){/yun}
                <div class="search_pages">
                    <div class="pages">{yun:}$pagenav{/yun}</div>
                </div>
                {yun:}else{/yun}
                <div class="seachno">
                    <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"/></div>
                    <div class="listno-content"> <strong>很抱歉，没有找到满足条件的人才</strong><br>
                        <span> 建议您：<br>
        1、适当减少已选择的条件<br>
        2、适当删减或更改搜索关键字<br>
        </span> <span> 热门关键字：<br>
        {yun:}key limit=10 recom=1 type=5 item=klist{/yun}<a href="{yun:}listurl m=resume type=keyword v=$klist.key_title{/yun}" title="{yun:}$klist.key_title{/yun}">{yun:}$klist.key_name{/yun}</a> {yun:}/key{/yun}</span> </div>
                </div>
                {yun:}/if{/yun} </div>
        </div>
      </div>
          
      </div>
    </div>
  </div> 
<script>
function gotime(id,edate,i){
	$("#gotimeid").val(id);
	if(i){
		$("#gotime_edate").html("本次共延期<font color='red'>"+i+"</font>个职位！"); 
	}else{
		$("#gotime_edate").html('当前职位到期时间：<font color="red">'+edate+'</font>');
	}
	$.layer({
		type : 1,
		title : '延期天数',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['340px','210px'],
		page : {dom : '#gotime'}
	});
}
function allgotime(){//批量延期
	var allid =[];
	var i=0;
	$('input[name="checkboxid[]"]:checked').each(function(){
		allid.push($(this).val());
		i++;
	});
	if(allid.length==0){
		layer.msg("请选择要延期的职位！",2,8);return false;
	}else{
		gotime(allid,'',i);	
	}
}
function allonstatus(){//批量延期
	var allid =[];
	var i=0;
	$('input[name="checkboxid[]"]:checked').each(function(){
		allid.push($(this).val());
		i++;
	});
	if(allid.length==0){
		layer.msg("请选择要下架的职位！",2,8);return false;
	}else{
		onstatus(allid,1);
	}
}
function onstatus(id,status){//修改招聘状态
	$.post("index.php?c=job&act=opera",{id:id,status:status},function(data){
		if(data==1){ 
			layer.msg('设置成功！', 2, 9,function(){window.location.reload();});return false;
		}else{
			layer.msg('设置失败！', 2, 8);
		}
	})
}
function Refresh(name){
	var chk_value =[];
	var i=0;
	$('input[name="'+name+'"]:checked').each(function(){
		chk_value.push($(this).val());
		i++;
	});
	if(chk_value.length==0){
		layer.msg("请选择要刷新的职位！",2,8);return false;
	}else{

			var num="{yun:}$config.integral_jobefresh{/yun}";
			var breakmsg = '本次共刷新'+i+'个职位,需扣除'+i+'个刷新数量,或消耗'+(num*i)+'{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}！';
			layer.confirm(breakmsg,function(){
				$.post("{yun:}$config.sy_weburl{/yun}/member/index.php?m=ajax&c=Refresh_job",{ids:chk_value},function(data){
					if(data==1){
						layer.msg("刷新成功！",2,9,function(){window.location.reload();});
					}else{
						layer.msg(data,2,8);
					}
				})
			});
 
		
	}
} 
$(document).ready(function(){
	$(".job_share").hover(function(){
		
		var html=$(this).find('.job_share_img').html();
		layer.tips(html, this, {
			guide: 1,
			style: ['background-color:#5EA7DC;', '#5EA7DC']
		});
		$(".xubox_layer").addClass("xubox_tips_border");
	},function(){layer.closeTips();}); 
		
	$(".job_list_extension_box").hover(function(){
		$(this).find('.job_list_extension_box_list').show();
	},function(){
		$(this).find('.job_list_extension_box_list').hide();
	}) 
	$(".job_tck_list").click(function(){
		var cron = $(this).attr('data-cron');
		var name = $(this).attr('data-name');
		$("#autotype").val(cron);
		$(".job_box_in").html(name);
		$(".job_tck_box_pot").hide();
	});
	$(".job_box_in").click(function(e){
		$(".job_tck_box_pot").toggle();
	});

//	推荐简历
	$(".yun_user_lok_bth").click(function () {
	    var resume_id = $(this).attr("data-id");
	    var eid = $(this).attr("data-eid");
        $.ajax({
            type:"post",
            url:"/member/index.php?c=recommend&act=report",
            data:{
                job_id:"{yun:}$smarty.get.id{/yun}",
                resume_id:resume_id,
                eid:eid
            },
            success:function (data) {
                var data =JSON.parse(data);

            }
        })
    })
	$(document).bind("click",function(e){
		if(e.target.className != 'job_box_in'){
			$(".job_tck_box_pot").hide();
		}
	}); 
});
</script> 
<!--延期天数弹出框-->
<div id="gotime"  style="display:none; width:230px; ">
  <div class="job_box_div"   style="width:300px; ">
    <div class="job_box_msg" style="margin-left:10px;_margin-left:5px;padding:5px;">
      <p id="gotime_edate"></p>
    </div>
    <form action='index.php?c=job&act=opera' target="supportiframe" method="post" id='gotimef'>
      <input type="hidden" name="gotimeid" id="gotimeid" value=""/>
      <div class="job_box_inp"  style="padding:10px 5px 5px 20px"> <span style="float:left; margin-right:0px;">延期天数：</span>
        <input name="day" value="" class="com_info_text placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width:100px;"/>
        <span class="fltL box_infobox_span" style="padding-left:10px;">天</span> </div>
      <span class="job_box_botton" style="width:100%;"> <a class="job_box_yes job_box_botton2" href="javascript:void(0);" onclick="setTimeout(function(){$('#gotimef').submit()},0);">确定</a> </span>
    </form>
  </div>
</div>
<!--延期天数弹出框end-->
<script src="{yun:}$style{/yun}/js/com_index.js" language="javascript"></script>
<script src="/js/search.js" language="javascript"></script>
<script>

    //推荐候选人
    $("body").on("click",".tuijan",function () {

        //推荐成功后的效果
        layer.msg('推荐成功！', 2, 9);
        $(this).html("已推荐");
        $(this).removeClass("tuijan");
        $(this).addClass("yituijian");
    })
</script>
{yun:}include file="$ltstyle/jobserver.htm"{/yun}
{yun:}include file="$ltstyle/footer.htm"{/yun}